@media screen and (max-width: 1800px) {
    .catalog-product-item-bot-it {
        display: none;
        gap: 0 !important;
    }
    .catalog-filter-list-item-foot-but {
        margin-top: 4px;
        width: 60px !important;
        height: 60px !important;
    }
}
