@mixin flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
}

@mixin three-dots($mw:200px) {
    max-width: $mw;
    white-space: nowrap;    
    text-overflow: ellipsis;
    overflow: hidden; 
}


 